@import url("https://fonts.googleapis.com/css2?family=Syne:wght@400..800&display=swap");
/* Import de la font Roboto depuis Google Fonts et on l'applique sur tous les éléments de la page */
body * {
  font-family: "Syne", sans-serif;
}

/* cette div container se trouve dans le fichier header.php */
#container {
  max-width: 1440px;
  margin: 0 auto;
}
/* On applique un gris plus clair sur les paragraphes */
p {
  color: #313332;
}
/* La classe 'hover-effect' permettra de créer un effet de zoom quand l'on passera la souris par dessus les elements images enfants  */
.hover-effect img {
  transition: all 0.33s ease-in-out;
  transform: scale(1) translateY(0px);
}
.hover-effect img:hover {
  transition: all 0.33s ease-in-out;
  transform: scale(1.05) translateY(-10px);
}
.entry-title,
.post-edit-link {
  display: none;
}

/************** menu de navigation ***************/
.nav-bar {
  height: 80px;
  /* width: 100vw; */
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo img {
  height: 19px;
  width: auto;
}

.menu {
  text-transform: capitalize;
  display: flex;
  justify-content: end;
  flex-grow: 2;
}
.menu a {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  color: #313332;
  text-decoration: none;
}
.commande-groupe {
  background-color: #dc9f96;
  height: 80px;
  width: 236px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.commande-groupe a {
  text-decoration: none;
  color: #fff;
  text-transform: capitalize;
}
.commande-groupe:hover {
  background-color: brown;
}

/*************** section 1 *************/
.groupe-pricipale {
  background-color: #e3d9d0;
  border-radius: 0 0 15% 15%;
  box-shadow: 0 10px 0 #dcd5cf;
  /* width: 100vw; */
  height: 890px;
}
.titre1 {
  color: #3b8e46;
  text-align: center;
  font-size: 2.3rem;
  font-weight: 800;
  line-height: 46px;
  letter-spacing: 0em;
  text-transform: uppercase;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 80px;
}

.canette {
  position: relative;
  z-index: 10;
}
.droite {
  position: absolute;
  right: 27%;
  top: 45%;
}
.gauche {
  position: absolute;
  left: 27%;
  top: 45%;
}

/*************** section 2 *************/
.description {
  background-color: #fff;
  height: 360px;
}
.description-titre {
  color: #3b8e46;
  text-align: center;
  font-size: 3rem;
  padding-top: 30px;
  margin-top: 40px;
}
.description-para {
  text-align: center;
  margin-top: 30px;
  font-size: 1.25rem;
  line-height: 1.5;
  font-weight: 400;
  letter-spacing: 0em;
  margin-top: 60px;
}
/************* section 3 *****************/
.bloc-gout {
  background-color: #dcd5cf;
  height: 1350px;
  border-radius: 0% 0% 100% 100% / 97% 97% 3% 3%;
}
.titre-gouts {
  color: #d2776a;
  font-size: 3rem;
  font-weight: 800;
  text-align: center;
  line-height: 36px;
  padding-top: 50px;
  margin-bottom: 20px;
}
.parag-gouts {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
  margin-bottom: 50px;
}

.wp-block-button__link,
.wp-element-button {
  background-color: #e0b9b4 !important;
  border-radius: 5px;
  height: 55px;
  margin-top: 40px;
}
/****************** section 4 ******************/
.bloc-avis {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.titre-avis {
  font-size: 30px;
  font-weight: 800;
  line-height: 36px;
  letter-spacing: 0em;
  text-align: center;
  color: #3b8e46;
  padding-top: 80px;
  margin-bottom: 60px;
}
.les-avis {
  display: flex;
  justify-content: space-around;
  align-items: center;
  /* width: 100vw; */
  margin-left: 4rem;
}
.colonne {
  display: flex;
  /* width: 20vw; */
}
.image-avis {
  width: 126.28px;
  height: 139px;
}
.nomage {
  margin-left: 20px;
}
.nomage-titre {
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  letter-spacing: 0em;
  text-align: center;
  color: #3b8e46;
}
.description-avis {
  font-family: Syne;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: left;
  width: 196px;
  height: 57px;
}
.bloc-canette {
  margin-top: 60px;
  width: 100%;
}
footer {
  height: 80px;
}

/********************************** page nous rencontrer ********************************/
/************************ section 1  *******************/
.bloc-rencontre {
  background-color: #ece2da;
  border-radius: 0% 0% 42% 50% / 25% 25% 17% 17%;
}
.titre-bloc-rencontrer {
  font-size: 38px;
  font-weight: 800;
  line-height: 46px;
  letter-spacing: 0em;
  color: #d2776a;
}
.para-bloc-rencontre {
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  width: 50%;
  color: #000000;
}
/********************* section 2 *******************/
.titre-equipe {
font-size: 30px;
font-weight: 700;
line-height: 36px;
letter-spacing: 0em;
text-align: center;
color: #000000;


}



/****************** section 3 ************************/
